/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: var(--global-bg-color);
  height: fit-content;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: var(--global-border-color);
    width: 100%;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 2.5em 2em;  // Cambia da 0.5em a 1.5em per pi첫 altezza
    font-family: $sans-serif-narrow;
    font-size: $type-size-4;  // Aggiungi questa riga per font pi첫 grande

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
      font-size: $type-size-5;  // Aggiungi questa riga per link pi첫 grandi
      padding: 0.5em 0;  // Aggiungi padding verticale ai link
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  background-color: var(--global-bg-color);
  display: block;
  list-style-type: none;
  white-space: nowrap;
  font-size: $type-size-6;  // Aggiungi questa riga
  a {
    font-size: 18px;  // Aggiungi questa riga - aumenta da default (circa 14-16px)
    font-weight: 500; // Opzionale: rendi il testo un po' pi첫 bold
  }
  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
